body {
  background-image: url(/web_module/vietnhatkids_Game/game_ChonNhieuHinh/images_khoanhtron_NhieuHinh/11.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

/*#popup-img {
    margin-left: 24%;
}
*/
.danh-muc {
  width: 80% !important;
  box-shadow: 1px;
  align-items: center;
}

.item img {
  width: 90% !important;
  height: auto;
}

.item {
  display: flex !important;
  align-items: center;
  justify-content: center !important;
}

.hinh {
  transform: scale(0.7);
  margin-right: 3%;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(7, 15%);
  grid-column-gap: inherit;
  grid-row-gap: 20px;
}

.block {
  float: right;
  margin: 4% 0;
}

.block-item {
  font-family: "UTM American Sans";
  position: relative;
  right: -317%;
}

.Group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Group a {
  width: 137px;
}

.Group_icon img {
  width: 78px;
  height: 76px;
}

.Group {
  /* box-shadow: 1px 1px 1px 1px; */
  /* width: 70%; */
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 1%;
  height: -1vh;
  margin-top: 6%;
}

.Group_icon {
  width: 100%;
  height: 15vh;
  border: 5px solid #3480FE;
  background: white;
  border-radius: 5px;
  padding: 0 3%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 3px 1px 1px grey;
  margin-top: -10%;
  display: flex;
  justify-content: center;
}

.Group-name {
  width: 100%;
  display: flex;
  margin-top: -23%;
  text-align: center;
  justify-content: center;
}

.Group-name p {
  color: red;
  font-weight: 500;
}

.Group-chude {
  display: flex;
  justify-content: center;
  width: 39%;
}

.start-game {
  z-index: 101;
  width: 100vw;
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3882352941);
}
.start-game .btn-start {
  display: block;
  width: 65px;
}

.btn-position-absolute {
  z-index: 1;
}
.btn-position-absolute.btn-Submit {
  right: 3%;
  top: 35%;
}
.btn-position-absolute.btn-Sound {
  right: 3%;
  top: 50%;
}

#popup-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 24;
  background: rgba(0, 0, 0, 0.2588235294);
}
#popup-submit .popup .popup-main {
  position: relative;
  display: flex;
  height: 100vh;
}
#popup-submit .popup .popup-main .bg-popup {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main {
  max-width: 300px;
  position: relative;
  margin: auto;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .popup-nen {
  position: relative;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img {
  width: 60%;
  position: absolute;
  top: 16%;
  left: 15%;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img-1 {
  bottom: 0;
  width: 25%;
  position: absolute;
  right: -15%;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .cancel {
  position: absolute;
  top: 11%;
  right: 2%;
  width: 35px;
  height: 35px;
  background: none;
  border: 0;
  cursor: pointer;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .home {
  position: absolute;
  width: 45px;
  height: 40px;
  left: 19%;
  bottom: 18%;
  background: none;
  border: 0;
  cursor: pointer;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .next {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 43%;
  bottom: 30%;
  background: none;
  border: 0;
  cursor: pointer;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .load {
  position: absolute;
  width: 45px;
  height: 40px;
  right: 18%;
  bottom: 18%;
  background: none;
  border: none;
  cursor: pointer;
}
#popup-submit .popup .popup-main img.halo {
  position: relative;
  z-index: -1;
  height: 90vh;
  margin: auto;
}
#popup-submit .popup .popup-main img.phao {
  position: absolute;
  left: 32.5%;
  z-index: -1;
  width: 35%;
}
#popup-submit .popup .popup-main img.phao-1 {
  position: absolute;
  bottom: 15%;
  left: 10.5%;
  width: 30%;
  z-index: -1;
}
#popup-submit .popup .popup-main img.phao-2 {
  position: absolute;
  bottom: 15%;
  right: 10.5%;
  width: 30%;
  z-index: -1;
}

@media (min-width: 992px) {
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main {
    max-width: 500px;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img {
    width: 60%;
    top: 17%;
    left: 20%;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img-1 {
    bottom: 0;
    width: 25%;
    right: -15%;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main .cancel {
    top: 7%;
    right: 4%;
    width: 60px;
    height: 60px;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main .home {
    width: 60px;
    height: 60px;
    left: 15%;
    bottom: 15%;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main .next {
    width: 75px;
    height: 75px;
    left: 42%;
    bottom: 30%;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main .load {
    width: 60px;
    height: 60px;
    right: 15%;
    bottom: 15%;
  }
  #popup-submit .popup .popup-main img.phao {
    left: 32.5%;
    width: 35%;
  }
  #popup-submit .popup .popup-main img.phao-1 {
    left: 10.5%;
    width: 35%;
  }
  #popup-submit .popup .popup-main img.phao-2 {
    right: 10.5%;
    width: 35%;
  }
}
.frame-game {
  width: 70vw;
  margin-left: 15vw;
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.frame-game .frame-game-content {
  position: relative;
}
.frame-game .frame-game-content .bg-game {
  position: relative;
}
.frame-game .frame-game-content .frame-choise {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
}
.frame-game .frame-game-content .frame-choise .choise-list {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 77vh;
  flex-wrap: wrap;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item {
  border-radius: 0.5rem;
  width: 14.2857142857%;
  transition: transform 0.15s;
  position: relative;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item.true .item-image img {
  border: 2px solid #4540db;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item.true .result.true {
  visibility: visible;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item.true .result.false {
  visibility: hidden;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item.false .item-image img {
  border: 2px solid red;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item.false .result.true {
  visibility: hidden;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item.false .result.false {
  visibility: visible;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item .result {
  visibility: hidden;
  position: absolute;
  width: 18px;
  margin-left: -9px;
  bottom: 10%;
  left: 50%;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item .item-image {
  position: relative;
  padding: 5%;
}
.frame-game .frame-game-content .frame-choise .choise-list .choise-item .item-image img {
  border: 2px solid transparent;
  border-radius: 0.5rem;
}

@media (min-width: 992px) {
  .start-game .btn-start {
    width: 85px;
  }
  .frame-game {
    width: 70vw;
    margin-left: 15vw;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  .frame-game .frame-game-content .frame-choise .choise-list {
    height: 61vh;
  }
  .frame-game .frame-game-content .frame-choise .choise-list .choise-item .result {
    width: 30px;
    margin-left: -15px;
    bottom: 1rem;
  }
}
