/** {
    --transition: 0.15s;
    --border-radius: 0.5rem;
    --box-shadow: #ffc107;
}
*/
body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("/web_module/vietnhatkids_Game/loaigame_TracNghiem/Image_TracNghiem/cauhoi.jpg");
}

.form-game {
  margin: auto;
  width: 100%;
}

/*.title-game {
    padding: 0;
}

.title-game {
    z-index: 10;
    padding: 0 3%;
    text-align: center;
    right: 1%;
    top: 15%;
    position: absolute;
    border-radius: 5px;
}

.title-game span {
    font-family: system-ui;
    font-weight: 900;
    color: white;
    line-height: 2;
}

.title-game {
    background-image: url(/images/title-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    right: 1%;
    top: 2%;
    position: absolute;

    span {
        font-weight: 900;
        color: white;
        text-transform: uppercase;
    }
}

@media(min-width:992px) {

    .title-game {
        width: 156px;
        height: 50px;
        line-height: 50px;
        right: 1%;
        top: 2%;

        span {
        }
    }
}*/
/*.Volume1 {*/
/* margin-left: 65%;
    margin-top: -213%;
    width: 77%;*/
/*}*/
@keyframes fish2 {
  49% {
    right: calc(100% - 20em);
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(-1);
  }
}
.image-anime.gif-1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.image-anime.gif-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.image-anime.gif-3 {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 15%;
}
.image-anime.gif-4 {
  position: absolute;
  width: 12%;
  right: 0;
  top: 45%;
  animation: fish2 100s infinite;
}
.image-anime.gif-4 img {
  transform: scaleX(1);
}

.name {
  margin-top: -2rem;
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: center;
}
.name img {
  width: 55px;
  position: relative;
  z-index: 0;
}
.name span {
  margin-left: -1rem;
  margin-right: -1rem;
  position: relative;
  z-index: 1;
  background-image: url(/images/images_button/bg-title-blue_02.png);
  background-size: contain;
  background-position: top left;
  background-repeat: repeat-x;
  font-size: 15px;
  color: white;
  line-height: 36px;
  height: 47px;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 992px) {
  .name {
    margin-top: -50px;
    margin-bottom: 1rem;
  }
  .name img {
    width: 72px;
  }
  .name span {
    margin-left: -1rem;
    margin-right: -1rem;
    font-size: 23px;
    line-height: 50px;
    height: 63px;
    font-weight: 700;
  }
}
.hide {
  display: none;
}

.choose-before-play {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-content {
  width: 85vw;
  min-height: 77vh;
  background-color: #ffffff;
  border: 5px solid #3e7cef;
  border-radius: 30px;
  position: relative;
  z-index: 11;
}

.submit_button {
  position: absolute;
  top: 81%;
  right: 1%;
  width: 15%;
  transition-duration: 0.3s;
  transition-property: transform;
  width: 8% !important;
  left: 91% !important;
  bottom: 5% !important;
}

.submit_button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/*.char-item {*/
/*    padding: 5%;
    width: 100%;*/
/*}*/
.char-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden auto;
  height: 70vh;
  /* display: flex;
  flex-wrap: wrap;
  margin-top: -1%;
  margin-bottom: auto;
  margin-left: auto;
  height: 87%;
  overflow: auto;
  margin-right: auto;
  width: 96%;*/
}

/*.char-list > label {
    flex: 0 0 80%;
}*/
.cont-checkbox {
  border-radius: 0.5rem;
  width: 14.2857142857%;
  transition: transform 0.15s;
}

.cont-checkbox:active {
  transform: scale(0.9);
}

input {
  display: none;
}

input:checked + label {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--background);
}

input:checked + label img {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

input:checked + label .cover-checkbox {
  opacity: 1;
  transform: scale(1);
}

input:checked + label .cover-checkbox svg {
  stroke-dashoffset: 0;
}

label {
  padding: 5%;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  opacity: 0.6;
}

label img {
  width: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
}

label .cover-checkbox {
  position: absolute;
  right: 5px;
  top: 3px;
  z-index: 1;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background: #ffc107;
  border: 2px solid #fff;
  transition: transform 0.15s, opacity 0.18s linear;
  opacity: 0;
  transform: scale(0);
}

label .cover-checkbox svg {
  width: 80%;
  height: 80%;
  display: inline-block;
  vertical-align: top;
  fill: none;
  margin: 11% 0 0 10%;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  transition: stroke-dashoffset 0.4s ease 0.15s;
  stroke-dashoffset: 16px;
}

label .info {
  text-align: center;
  margin-top: 0.2rem;
  font-weight: 600;
  font-size: 0.8rem;
}

/*.select-all-bookmark {
    position: absolute;
    width: 13%;
    top: -1.3%;
    right: -1.6%;
}*/
.ti-so {
  background-image: url(/images/bg-game-water-3.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 1rem;
  line-height: 80px;
  text-align: center;
  height: 80px;
  width: 80px;
  right: 1rem;
}
.ti-so .txt-tiso {
  font-weight: 800;
  font-size: 16px;
  font-family: cursive;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
}

/*
.ti-so img {
    width: 73%;
}
*/
.socau h6 {
  font-size: 212%;
  top: 8rem;
  font-weight: 700;
  left: 133%;
  font-family: monospace;
  color: rgba(100, 41, 19, 0.8509803922);
  position: absolute;
  font-weight: 800;
}

.swal-text {
  font-size: 21px;
}

.swal-icon {
  width: 70px;
  height: 70px;
}

.swal-icon--warning__body {
  height: 40px;
}

a.button_popup {
  position: absolute;
}

.button .btn {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  position: absolute;
  width: 55px;
  z-index: 10;
  right: 1.75rem;
}
.button .btn.btnVolume {
  top: 7rem;
}
.button .btn.btnSubmit {
  top: 11rem;
}

.button img, .number img {
  max-width: 100%;
}

/*.game_tn {
    text-align: -webkit-center;
}*/
#framePlayGame {
  min-height: 100vh;
}

.CauHoi {
  width: 100px;
  margin-left: -50px;
  left: 50%;
  top: 22%;
  position: absolute;
}

/*@media (max-width: 1300px) {


    .img_ConVat {
        width: 19%;
    }
}

@media (min-width: 1301px) {
    .img_ConVat {
        width: 14%;
    }
}*/
/*#block_CauTraLoi {*/
/*    width: 48%;
    display: flex;
    width: 48%;
    display: flex;
    top: 60%;
    position: fixed;
    left: 27%;*/
/*}*/
/*.TraLoi_C1 {*/
/* padding: 0 !important;*/
/*}*/
.img_TraLoi_C1 {
  width: 100%;
  height: auto;
}

.thanh-cau-hoi {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 2%;
}

#myProgress {
  width: 100%;
  background-color: rgba(112, 128, 144, 0.431372549);
  border: 2px solid white;
  border-radius: 10px;
  height: 100%;
  text-align: center;
}

#myBar {
  background: repeating-linear-gradient(45deg, #23cf2a 0px, #2cd32b 10px, #a2f7a6 10px, #8dff92 20px);
  background-repeat: repeat-x;
  text-align: center;
  line-height: 30px;
  color: white;
  height: 100%;
  background-size: 400% 100%;
  border-radius: 10px;
  animation: AnimationName 30s linear infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#popup-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 24;
  background: rgba(0, 0, 0, 0.2588235294);
}
#popup-submit .popup .popup-main {
  position: relative;
  display: flex;
  height: 100vh;
}
#popup-submit .popup .popup-main .bg-popup {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main {
  max-width: 300px;
  position: relative;
  margin: auto;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .popup-nen {
  position: relative;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img {
  width: 70%;
  position: absolute;
  top: 20%;
  left: 15%;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img-1 {
  bottom: 0;
  width: 25%;
  position: absolute;
  right: -15%;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .cancel {
  position: absolute;
  top: 11%;
  right: 2%;
  width: 35px;
  height: 35px;
  background: none;
  border: 0;
  cursor: pointer;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .home {
  position: absolute;
  width: 45px;
  height: 40px;
  left: 19%;
  bottom: 18%;
  background: none;
  border: 0;
  cursor: pointer;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .next {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 43%;
  bottom: 30%;
  background: none;
  border: 0;
  cursor: pointer;
}
#popup-submit .popup .popup-main .bg-popup .bg-popup-main .load {
  position: absolute;
  width: 45px;
  height: 40px;
  right: 18%;
  bottom: 18%;
  background: none;
  border: none;
  cursor: pointer;
}
#popup-submit .popup .popup-main img.halo {
  position: relative;
  z-index: -1;
  height: 90vh;
  margin: auto;
}
#popup-submit .popup .popup-main img.phao {
  position: absolute;
  left: 32.5%;
  z-index: -1;
  width: 35%;
}
#popup-submit .popup .popup-main img.phao-1 {
  position: absolute;
  bottom: 15%;
  left: 10.5%;
  width: 30%;
  z-index: -1;
}
#popup-submit .popup .popup-main img.phao-2 {
  position: absolute;
  bottom: 15%;
  right: 10.5%;
  width: 30%;
  z-index: -1;
}

@media (min-width: 992px) {
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main {
    max-width: 500px;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img {
    width: 60%;
    top: 17%;
    left: 20%;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main #popup-img-1 {
    bottom: 0;
    width: 25%;
    right: -15%;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main .cancel {
    top: 7%;
    right: 4%;
    width: 60px;
    height: 60px;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main .home {
    width: 60px;
    height: 60px;
    left: 15%;
    bottom: 15%;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main .next {
    width: 75px;
    height: 75px;
    left: 42%;
    bottom: 30%;
  }
  #popup-submit .popup .popup-main .bg-popup .bg-popup-main .load {
    width: 60px;
    height: 60px;
    right: 15%;
    bottom: 15%;
  }
  #popup-submit .popup .popup-main img.phao {
    left: 32.5%;
    width: 35%;
  }
  #popup-submit .popup .popup-main img.phao-1 {
    left: 10.5%;
    width: 35%;
  }
  #popup-submit .popup .popup-main img.phao-2 {
    right: 10.5%;
    width: 35%;
  }
}
.answer-list {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /*min-height: 92vh;*/
  /*    -ms-flex-align: end;
  align-items: flex-end;*/
}
.answer-list .answer-list-main {
  display: flex;
  width: 70vw;
  padding: 4%;
  flex-wrap: nowrap;
  background-image: url(/images/bg-game-water.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.answer-list .answer-list-main .answer-item {
  display: block;
  position: relative;
  padding: 0.5rem;
}
.answer-list .answer-list-main .answer-item__image {
  position: relative;
  z-index: 1;
}
.answer-list .answer-list-main .answer-item__image .btn {
  position: absolute;
  top: 0;
  width: 45px;
}
.answer-list .answer-list-main .answer-item__image .btn.btn-true {
  right: 0;
}
.answer-list .answer-list-main .answer-item__image .btn.btn-false {
  right: 0;
}
.answer-list .answer-list-main .answer-item__audio-play {
  z-index: 2;
  margin-left: -22px;
  left: 50%;
  width: 45px;
  position: absolute;
  bottom: 0;
}

@media (min-width: 576px) {
  .answer-list {
    /*  min-height: 90vh;*/
  }
  .answer-list .answer-list-main {
    padding: 5% 2%;
    width: 470px;
    min-height: 158px;
  }
}
@media (min-width: 768px) {
  .answer-list {
    /*  min-height: 90vh;*/
  }
  .answer-list .answer-list-main {
    padding: 5% 2%;
    width: 630px;
    min-height: 211px;
  }
}
@media (min-width: 992px) {
  .answer-list {
    /*  min-height: 90vh;*/
  }
  .answer-list .answer-list-main {
    padding: 5% 2%;
    width: 820px;
    min-height: 275px;
  }
  .answer-list .answer-list-main .answer-item {
    padding: 0.75rem;
  }
  .answer-list .answer-list-main .answer-item__image .btn {
    width: 45px;
  }
  .answer-list .answer-list-main .answer-item__audio-play {
    margin-left: -32px;
    width: 65px;
  }
  .button .btn {
    width: 80px;
  }
  .button .btn.btnVolume {
    top: 12rem;
    right: 3rem;
  }
  .button .btn.btnSubmit {
    top: 18rem;
    right: 3rem;
  }
  .CauHoi {
    width: 150px;
    margin-left: -75px;
    top: 25%;
  }
  .char-content {
    width: 85vw;
    border: 10px solid #3e7cef;
    border-radius: 40px;
  }
  .ti-so {
    line-height: 150px;
    height: 150px;
    width: 150px;
  }
  .ti-so .txt-tiso {
    font-size: 2.5rem;
  }
  #btnDe, #btnVua, #btnKho {
    margin: 8%;
    padding: 2%;
    border-radius: 10px;
    font-size: 30px;
  }
  #frame-game .frame-game-main {
    padding: 5% 2%;
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .answer-list {
    /*  min-height: 90vh;*/
  }
  .answer-list .answer-list-main {
    padding: 5% 2%;
    width: 1000px;
    min-height: 330px;
  }
  .answer-list .answer-item {
    padding: 1.5rem;
  }
}
@media (min-width: 1536px) {
  .answer-list .answer-list-main {
    padding: 5% 2%;
    width: 1200px;
    min-height: 400px;
  }
  .answer-list .answer-list-main .answer-item {
    padding: 1.5rem;
  }
}
