/* ===== Usage ===== */
/*@include font-face(Roboto, "./assets/Roboto", normal, normal);*/
/* SCSS VERTICAL CENTERING*/
/*@include vertical-center();*/
/* SCSS ADD VENDOR PREFIXES TO ANY CSS PROPERTY*/
/* @include css3-prefix(transform, scale3d(2.5, 2, 1.5));*/
#preschool-home {
  /*    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;*/
}

.form-homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
}

@-webkit-keyframes xoayvong {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
#preschool-home {
  min-height: 100vh;
}
#preschool-home .container {
  text-align: center;
}
#preschool-home .container .frame-homepage {
  display: inline-block;
  margin: auto;
  position: relative;
}
#preschool-home .container .img-bg {
  position: relative;
  max-height: 100vh;
}
#preschool-home .container .icon-cate-home {
  position: absolute;
}
#preschool-home .container .icon-cate-home .block-main {
  text-align: center;
  width: 15vw;
  height: 80px;
  position: relative;
}
#preschool-home .container .icon-cate-home .block-main .fly-earth {
  left: 0;
  top: 10px;
  position: absolute;
  z-index: 1;
}
#preschool-home .container .icon-cate-home .block-main .img-txt-cate {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
}
#preschool-home .container .icon-cate-home.cate-1 {
  top: 0%;
  left: 16%;
}
#preschool-home .container .icon-cate-home.cate-2 {
  top: 0%;
  left: 33%;
}
#preschool-home .container .icon-cate-home.cate-3 {
  top: 25%;
  left: 22%;
}
#preschool-home .container .icon-cate-home.cate-4 {
  top: 35%;
  left: 0%;
}
#preschool-home .container .icon-cate-home.cate-5 {
  bottom: 16%;
  left: 12%;
}
#preschool-home .container .icon-cate-home.cate-6 {
  bottom: 12%;
  left: 29%;
}
#preschool-home .container .icon-cate-home.cate-7 {
  left: 49%;
  bottom: 12%;
}
#preschool-home .container .icon-cate-home.cate-7 .gif-den {
  right: 50%;
  top: 37%;
  position: absolute;
  width: 6%;
  z-index: 2;
}
#preschool-home .container .icon-cate-home.cate-8 {
  top: 30%;
  left: 45%;
}
#preschool-home .container .icon-cate-home.cate-8 .gif-mua {
  left: 15%;
  top: 25px;
  position: absolute;
  width: 70%;
  z-index: 2;
}
#preschool-home .container .icon-cate-home.cate-9 {
  top: 4%;
  z-index: 3;
  left: 55%;
}
#preschool-home .container .icon-cate-home.cate-9 .gif-hao-quang {
  left: 0;
  top: 0;
  position: absolute;
  z-index: -5;
  animation: xoayvong 8s linear 0s infinite;
  -webkit-animation: xoayvong 8s linear 0s infinite;
  -moz-animation: xoayvong 8s linear 0s infinite;
  -o-animation: xoayvong 8s linear 0s infinite;
  width: 70%;
  margin-left: 15%;
}
#preschool-home .container .icon-cate-home.cate-10 {
  top: 35%;
  right: 17%;
}
#preschool-home .container .icon-cate-home.cate-11 {
  top: 14%;
  right: 0%;
}
#preschool-home .container .icon-cate-home.cate-12 {
  top: 8%;
  right: 17%;
}
#preschool-home .container .icon-cate-home.cate-13 {
  top: unset;
  right: 2%;
  bottom: 32%;
}
#preschool-home .container .icon-cate-home.cate-13 .gif-cham-hoi {
  right: 0;
  top: 0;
  position: absolute;
  width: 30%;
}
#preschool-home .container .icon-cate-home.cate-14 {
  bottom: 15%;
  right: 10%;
}
#preschool-home .btn-position {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 40px;
}
#preschool-home .btn-position.btn_home {
  top: 0.5rem;
  left: 0.5rem;
}
#preschool-home .btn-position.btn_mute {
  bottom: 0.5rem;
  left: 0.5rem;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  #preschool-home .container {
    width: 100%;
  }
  #preschool-home .container .icon-cate-home .block-main {
    width: 17vw;
    height: 135px;
  }
  #preschool-home .container .icon-cate-home .block-main .fly-earth {
    left: 0;
    top: 15px;
    z-index: 1;
  }
  #preschool-home .container .icon-cate-home .block-main .img-txt-cate {
    left: 0;
    top: 0;
    z-index: 3;
  }
  #preschool-home .container .icon-cate-home.cate-1 {
    top: 0%;
    left: 10.5%;
  }
  #preschool-home .container .icon-cate-home.cate-2 {
    top: 0%;
    left: 30%;
  }
  #preschool-home .container .icon-cate-home.cate-3 {
    top: 20%;
    left: 20%;
  }
  #preschool-home .container .icon-cate-home.cate-4 {
    top: 35%;
    left: 0%;
  }
  #preschool-home .container .icon-cate-home.cate-5 {
    top: 56%;
    left: 10%;
  }
  #preschool-home .container .icon-cate-home.cate-6 {
    top: unset;
    bottom: 3%;
    left: 29%;
  }
  #preschool-home .container .icon-cate-home.cate-7 {
    left: 47%;
    bottom: 6%;
    top: unset;
    right: unset;
  }
  #preschool-home .container .icon-cate-home.cate-7 .gif-den {
    right: 50%;
    top: 26%;
    width: 6%;
    z-index: 2;
  }
  #preschool-home .container .icon-cate-home.cate-8 {
    top: 27%;
    left: 43%;
  }
  #preschool-home .container .icon-cate-home.cate-8 .gif-mua {
    left: 15%;
    top: 25px;
    width: 70%;
    z-index: 2;
  }
  #preschool-home .container .icon-cate-home.cate-9 {
    top: 5%;
    left: 55%;
    right: unset;
  }
  #preschool-home .container .icon-cate-home.cate-9 .gif-hao-quang {
    left: 0;
    top: 40px;
    z-index: -5;
    width: 70%;
    margin-left: 15%;
  }
  #preschool-home .container .icon-cate-home.cate-10 {
    bottom: unset;
    left: unset;
    top: 32%;
    right: 18%;
  }
  #preschool-home .container .icon-cate-home.cate-11 {
    top: 8%;
    right: 0px;
    bottom: unset;
  }
  #preschool-home .container .icon-cate-home.cate-12 {
    top: 0%;
    right: 14%;
    bottom: unset;
    left: unset;
  }
  #preschool-home .container .icon-cate-home.cate-13 {
    top: 37%;
    right: 0px;
    bottom: unset;
  }
  #preschool-home .container .icon-cate-home.cate-13 .gif-cham-hoi {
    right: 0;
    top: 0;
    width: 35%;
  }
  #preschool-home .container .icon-cate-home.cate-14 {
    bottom: 5%;
    right: 10%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  #preschool-home .container {
    width: 95%;
  }
  #preschool-home .container .img-bg {
    /*padding-top: 1rem;*/
  }
  #preschool-home .container .icon-cate-home .block-main {
    width: 16vw;
    height: calc(16vw + 10px);
  }
  #preschool-home .container .icon-cate-home .block-main .fly-earth {
    left: 0;
    top: 10px;
  }
  #preschool-home .container .icon-cate-home .block-main .img-txt-cate {
    left: 0;
    top: 0;
  }
  #preschool-home .container .icon-cate-home.cate-1 {
    top: 0;
    left: 13%;
  }
  #preschool-home .container .icon-cate-home.cate-2 {
    top: 2%;
    left: 32%;
  }
  #preschool-home .container .icon-cate-home.cate-3 {
    top: 30%;
    left: 20%;
  }
  #preschool-home .container .icon-cate-home.cate-4 {
    top: 40%;
    left: 0px;
  }
  #preschool-home .container .icon-cate-home.cate-5 {
    top: unset;
    left: 11%;
    bottom: 14%;
  }
  #preschool-home .container .icon-cate-home.cate-6 {
    bottom: 5%;
    left: 30%;
  }
  #preschool-home .container .icon-cate-home.cate-7 {
    left: 48%;
    bottom: 5%;
  }
  #preschool-home .container .icon-cate-home.cate-7 .gif-den {
    right: 60px;
    top: 32px;
    width: 7px;
  }
  #preschool-home .container .icon-cate-home.cate-8 {
    top: 32%;
    left: 45%;
  }
  #preschool-home .container .icon-cate-home.cate-8 .gif-mua {
    left: 15%;
    top: 25px;
    width: 70%;
    z-index: 2;
  }
  #preschool-home .container .icon-cate-home.cate-9 {
    top: 5%;
    left: 55%;
  }
  #preschool-home .container .icon-cate-home.cate-9 .gif-hao-quang {
    left: 0;
    top: 20px;
    z-index: -5;
    width: 70%;
    margin-left: 15%;
  }
  #preschool-home .container .icon-cate-home.cate-10 {
    top: 38%;
    right: 20%;
  }
  #preschool-home .container .icon-cate-home.cate-11 {
    top: 17%;
    right: 0;
  }
  #preschool-home .container .icon-cate-home.cate-12 {
    top: 8%;
    right: 14%;
  }
  #preschool-home .container .icon-cate-home.cate-13 {
    top: 45%;
    right: 1%;
  }
  #preschool-home .container .icon-cate-home.cate-13 .gif-cham-hoi {
    right: 0;
    top: 0;
    width: 40px;
  }
  #preschool-home .container .icon-cate-home.cate-14 {
    bottom: 7%;
    right: 11%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  #preschool-home .container {
    width: 960px;
    /*  margin-left: auto;*/
  }
  #preschool-home .container .icon-cate-home .block-main {
    width: 160px;
    height: 175px;
  }
  #preschool-home .container .icon-cate-home .block-main .fly-earth {
    left: 0;
    top: 15px;
  }
  #preschool-home .container .icon-cate-home .block-main .img-txt-cate {
    left: 0;
    top: 0;
  }
  #preschool-home .container .icon-cate-home.cate-1 {
    top: -20px;
    left: 120px;
  }
  #preschool-home .container .icon-cate-home.cate-2 {
    top: -10px;
    left: 280px;
  }
  #preschool-home .container .icon-cate-home.cate-3 {
    top: 120px;
    left: 185px;
  }
  #preschool-home .container .icon-cate-home.cate-4 {
    top: 165px;
    left: 0px;
  }
  #preschool-home .container .icon-cate-home.cate-5 {
    top: 280px;
    left: 100px;
  }
  #preschool-home .container .icon-cate-home.cate-6 {
    bottom: 10px;
    left: 275px;
  }
  #preschool-home .container .icon-cate-home.cate-7 {
    left: 455px;
    bottom: 45px;
  }
  #preschool-home .container .icon-cate-home.cate-7 .gif-den {
    right: 80px;
    top: 43px;
    width: 9px;
  }
  #preschool-home .container .icon-cate-home.cate-8 {
    top: 150px;
    left: 410px;
  }
  #preschool-home .container .icon-cate-home.cate-8 .gif-mua {
    left: 15%;
    top: 25px;
    width: 70%;
    z-index: 2;
  }
  #preschool-home .container .icon-cate-home.cate-9 {
    top: 30px;
    left: 530px;
  }
  #preschool-home .container .icon-cate-home.cate-9 .gif-hao-quang {
    left: 0;
    top: 40px;
    z-index: -5;
    width: 70%;
    margin-left: 15%;
  }
  #preschool-home .container .icon-cate-home.cate-10 {
    top: 165px;
    right: 165px;
  }
  #preschool-home .container .icon-cate-home.cate-11 {
    top: 70px;
    right: 0;
  }
  #preschool-home .container .icon-cate-home.cate-12 {
    top: 5px;
    right: 130px;
  }
  #preschool-home .container .icon-cate-home.cate-13 {
    top: 210px;
    right: 0px;
  }
  #preschool-home .container .icon-cate-home.cate-13 .gif-cham-hoi {
    right: 0;
    top: 0;
    width: 45px;
  }
  #preschool-home .container .icon-cate-home.cate-14 {
    bottom: 25px;
    right: 100px;
  }
  #preschool-home .btn-position {
    position: fixed;
    z-index: 100;
    width: 69px;
    height: 69px;
  }
  #preschool-home .btn-position.btn_home {
    top: 1rem;
    left: 1rem;
  }
  #preschool-home .btn-position.btn_mute {
    bottom: 1rem;
    left: 1rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  #preschool-home .container {
    width: 1140px;
  }
  #preschool-home .container .icon-cate-home .block-main {
    width: 185px;
    height: 205px;
  }
  #preschool-home .container .icon-cate-home .block-main .fly-earth {
    left: 0;
    top: 20px;
  }
  #preschool-home .container .icon-cate-home .block-main .img-txt-cate {
    left: 0;
    top: 0;
  }
  #preschool-home .container .icon-cate-home.cate-1 {
    top: 0px;
    left: 115px;
  }
  #preschool-home .container .icon-cate-home.cate-2 {
    top: 10px;
    left: 345px;
  }
  #preschool-home .container .icon-cate-home.cate-3 {
    top: 150px;
    left: 230px;
  }
  #preschool-home .container .icon-cate-home.cate-4 {
    top: 195px;
    left: 0px;
  }
  #preschool-home .container .icon-cate-home.cate-5 {
    top: 310px;
    left: 110px;
  }
  #preschool-home .container .icon-cate-home.cate-6 {
    bottom: 20px;
    left: 320px;
  }
  #preschool-home .container .icon-cate-home.cate-7 {
    left: 540px;
    bottom: 60px;
  }
  #preschool-home .container .icon-cate-home.cate-7 .gif-den {
    right: 93px;
    top: 53px;
    width: 10px;
  }
  #preschool-home .container .icon-cate-home.cate-8 {
    top: 185px;
    left: 500px;
  }
  #preschool-home .container .icon-cate-home.cate-8 .gif-mua {
    left: 15%;
    top: 25px;
    width: 70%;
    z-index: 2;
  }
  #preschool-home .container .icon-cate-home.cate-9 {
    top: 40px;
    left: 625px;
  }
  #preschool-home .container .icon-cate-home.cate-9 .gif-hao-quang {
    left: 0;
    top: 40px;
    z-index: -5;
    width: 70%;
    margin-left: 15%;
  }
  #preschool-home .container .icon-cate-home.cate-10 {
    top: 210px;
    right: 200px;
  }
  #preschool-home .container .icon-cate-home.cate-11 {
    top: 90px;
    right: 0px;
  }
  #preschool-home .container .icon-cate-home.cate-12 {
    top: 20px;
    right: 165px;
  }
  #preschool-home .container .icon-cate-home.cate-13 {
    top: 255px;
    right: 0px;
  }
  #preschool-home .container .icon-cate-home.cate-13 .gif-cham-hoi {
    width: 60px;
  }
  #preschool-home .container .icon-cate-home.cate-14 {
    bottom: 30px;
    right: 105px;
  }
}
@media (min-width: 1536px) {
  .container {
    width: 1400px;
  }
  #preschool-home .container {
    width: 1400px;
  }
  #preschool-home .container .icon-cate-home .block-main {
    text-align: center;
    width: 205px;
    height: 225px;
    position: relative;
  }
  #preschool-home .container .icon-cate-home .block-main .fly-earth {
    left: 0;
    top: 20px;
  }
  #preschool-home .container .icon-cate-home .block-main .img-txt-cate {
    left: 0;
    top: 0;
  }
  #preschool-home .container .icon-cate-home.cate-1 {
    top: 0px;
    left: 185px;
  }
  #preschool-home .container .icon-cate-home.cate-2 {
    top: 10px;
    left: 435px;
  }
  #preschool-home .container .icon-cate-home.cate-3 {
    top: 210px;
    left: 300px;
  }
  #preschool-home .container .icon-cate-home.cate-4 {
    top: 265px;
    left: 10px;
  }
  #preschool-home .container .icon-cate-home.cate-5 {
    top: 415px;
    left: 155px;
  }
  #preschool-home .container .icon-cate-home.cate-6 {
    bottom: 35px;
    left: 415px;
  }
  #preschool-home .container .icon-cate-home.cate-7 {
    left: 685px;
    bottom: 85px;
  }
  #preschool-home .container .icon-cate-home.cate-7 .gif-den {
    right: 104px;
    top: 57px;
  }
  #preschool-home .container .icon-cate-home.cate-8 {
    top: 235px;
    left: 630px;
  }
  #preschool-home .container .icon-cate-home.cate-9 {
    top: 70px;
    z-index: 3;
    left: 790px;
  }
  #preschool-home .container .icon-cate-home.cate-10 {
    top: 275px;
    right: 250px;
  }
  #preschool-home .container .icon-cate-home.cate-11 {
    top: 120px;
    right: 0px;
  }
  #preschool-home .container .icon-cate-home.cate-12 {
    top: 50px;
    right: 220px;
  }
  #preschool-home .container .icon-cate-home.cate-13 {
    top: 310px;
    right: 0px;
  }
  #preschool-home .container .icon-cate-home.cate-14 {
    bottom: 50px;
    right: 140px;
  }
}
